@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:wght@500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --primary-clor: #fff;
    --primary-shade: #f7f5f2;
    --secondary-color: #000;
    --secondary-shade: #4b4c4c;
    --red-color: #d40700;
    --red-shade: #b20600;
    --accent-color: #ffee63;
}


/*header section*/
header{
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(50, 50, 51, 1)35%,rgba(0, 212, 255, 1) 100%);
    background: linear-gradient(to right, #040404, #242424, #656565);
    color: var(--primary-clor);
}

.nav-bar{
    padding: 30px 0;
}

span{
    color: var(--red-color);
}

.btn{
    width: 100px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--red-color);
    color: var(--primary-clor);
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0 5px;
    font-weight: 500;
}

.btn:hover{
    background-color: var(--red-shade);
    color: var(--primary-clor);
    border: 2px solid var(--red-color);
}

.left img{
    width: 70%;
    position: relative;
    z-index: 999;
    cursor: pointer;
    transition: 0.3s ease;
}

.left img:hover{
    filter: drop-shadow(16px 5px 20px burlywood);
}

h4, h3, p{
    font-family: 'Poppins', sans-serif;
}

.color-box{
    width: 250px;
    height: 310px;
    border: 5px solid red;
    transform: rotate(48deg);
    position: absolute;
    top: 150px;
    left: 35px;

}

.content{
    height: 90vh;
    position: relative;
}

  
  /* footer */
  footer {
    background-color: #212222;
    color: #fff;
    padding: 15px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .social {
    display: flex;
    justify-content: flex-start;
  }
  
  .social a:not(:last-child) {
    margin-right: 20px;
  }
  
  .social img {
    height: 30px;
    margin: 0 10px;
  }
  
  .copy {
    text-align: center;
  }